.filters_container {
  @include flex(column, space-around, flex-start);
  background: linear-gradient(to right, $color-blue3, transparent);
  width: 20vw;
  height: 50vh;
//   box-shadow: 2px 2px 5px 0 $color-shadow2;
  border-radius: 0 3px 3px 0;
  padding-left: 50px;
  .btnreload{
    border: none;
    background: linear-gradient(45deg, $color-orange, $color-fuxia);
    color: $color-white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  .btnreload:hover{
    transform: scale(1.1)
  }
  .cntselect {
    @include flex(column, space-around, center);
    height: 40vh;
  }
}
