.home {
  @include flex(column, center, center);
  min-height: 100vh;
  .slides-container {
    @include flex(row, space-between, center);
    animation: ease slider 3s;
    margin: 50px 0 100px 0;
    width: 60vw;
    height: 50vh;
    background: linear-gradient(to bottom, $color-cian3, $color-cian);
    border-radius: 5px;
    .slide-content {
      @include flex(column, space-between, center);
      height: 100%;
    }
    .btn-left {
      animation: ease btnLeft 3s;
      border: none;
      background: none;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: relative;
      font-size: 25px;
      left: -20px;
      color: $color-blue3;
      text-shadow: 0 0 6px $color-shadow;
      cursor: pointer;
      div {
        position: relative;
        width: 0;
        height: 0;
        border-left: 6px solid $color-cream;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        left: -5px;
        top: 7px;
        rotate: 135deg;
      }
    }
    .btn-right {
      animation: ease btnRight 3s;
      border: none;
      background: none;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: relative;
      font-size: 25px;
      left: 20px;
      color: $color-blue3;
      text-shadow: 0 0 6px $color-shadow;
      cursor: pointer;
      div {
        position: relative;
        width: 0;
        height: 0;
        border-left: 6px solid $color-cream;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        left: 9px;
        top: -7.5px;
        rotate: -45deg;
      }
    }
    .btn-left:hover,
    .btn-right:hover {
      color: $color-orange;
    }
    .btn-left:active{
      left: -21px;
    }
    .btn-right:active{
      left: 21px;
    }
    ul {
      @include flex(row, center, center);
      list-style: none;
      gap: 20px;
      width: 0;
      height: 0;
      button {
        border: none;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        background: $color-blue3;
        transition: 0.3s;
        box-shadow: 1px 1px 3px 0px $color-shadow2;
      }
      button:hover {
        cursor: pointer;
        background: linear-gradient(to top, $color-orange, $color-fuxia);
      }
    }
  }
  .tops-container {
    width: 70vw;
    margin: 100px auto;
    .tops-title {
      border-left: 3px solid $color-orange;
      padding-left: 10px;
    }

    .container {
      max-width: 90%;
      margin: 0 auto;
      .slide {
        background-color: palegreen;
        color: darkgreen;
        font-size: 3em;
        font-weight: bold;
      }
    }
  }
  .glider-prev,
  .glider-next {
    top: 75px;
  }

  .glider-prev {
    left: -30px;
  }

  .glider-next {
    right: -30px;
  }

  .glider {
    height: 200px;
  }
  .glider-contain {
    margin-bottom: 25px;
  }
  .glider-track {
    height: 100%;
  }
  .glider-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f5f5f5;
  }
}

// @keyframes btnLeft {
//   0% {
//     opacity: 0;
//     left: -100px;
//   }
//   40%{
//     opacity: 1;
//   }
//   60% {
//     left: -12px;
//   }
// }

// @keyframes btnRight {
//   0% {
//     opacity: 0;
//     left: 100px;
//   }
//   40%{
//     opacity: 1;
//   }
//   60% {
//     left: 12px;
//   }
// }

// @keyframes slider {
//   0%{
//     opacity: 0;
//   }
//   100%{
//     opacity: 1;
//   }
// }
