.home {
  @include flex(column, center, center);
  min-height: 100vh;
  .slides-container {
    @include flex(row, space-between, center);
    animation: ease slider 3s;
    margin: 50px 0 100px 0;
    width: 40vw;
    height: 90vh;
    border-radius: 5px;
    .slide-content {
      @include flex(column, space-between, center);
      height: 100%;
      .link {
        @include flex(column, space-between, center);
        text-decoration: none;
        color: $color-black2;
        letter-spacing: 0.8px;
        text-align: center;
        img {
          position: absolute;
          z-index: 1;
          width: 40vw;
          height: 86vh;
          border-radius: 5px;
        }
        .manga_info {
          animation: ease slider 0.6s;
          display: none;
          z-index: 5;
          position: absolute;
          background: linear-gradient(to bottom, $color-black2, transparent);
          width: 40vw;
          height: 60vh;
          // letter-spacing: 0;
          h1 {
            color: $color-orange;
            text-shadow: 1px 1px 2px $color-black;
          }
          p {
            color: $color-white;
            text-shadow: 1px 1px 2px $color-black;
            width: 80%;
            margin: auto;
          }
        }
      }
      .link:hover {
        .manga_info {
          display: block;
        }
      }
      ul {
        @include flex(row, center, center);
        list-style: none;
        gap: 20px;
        padding: 0;
        position: relative;
        top: 5px;
        button {
          border: none;
          border-radius: 100%;
          width: 12px;
          height: 12px;
          background: $color-blue3;
          transition: 0.3s;
          box-shadow: 1px 1px 3px 0px $color-shadow2;
        }
        button:hover {
          cursor: pointer;
          background: linear-gradient(to top, $color-orange, $color-fuxia);
        }
      }
    }
    .btn-left {
      animation: ease btnLeft 3s;
      border: none;
      background: none;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: relative;
      font-size: 25px;
      left: -20px;
      color: $color-orange;
      text-shadow: 0 0 6px $color-shadow;
      cursor: pointer;
      z-index: 5;
      transition: 0.3s;
    }
    .btn-right {
      animation: ease btnRight 3s;
      border: none;
      background: none;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: relative;
      font-size: 25px;
      left: 20px;
      color: $color-orange;
      text-shadow: 0 0 6px $color-shadow;
      cursor: pointer;
      z-index: 5;
      transition: 0.3s;
    }
    .btn-left:hover,
    .btn-right:hover {
      color: $color-orange2;
      transform: rotate(45deg) scale(1.2);
    }
    .btn-left:active {
      left: -21px;
    }
    .btn-right:active {
      left: 21px;
    }
  }
  .tops-container {
    width: 70vw;
    margin: 100px auto;
    .tops-title {
      border-left: 3px solid $color-orange;
      padding-left: 10px;
    }
    .container {
      max-width: 100%;
      margin: 0 auto;
      ul {
        @include flex(row, center, center);
      }
      .ul_slide {
        @include flex(row, center, center);
        .link {
          img {
            width: 20vw;
            height: 50vh;
          }
        }
      }
    }
  }
}

@keyframes btnLeft {
  0% {
    opacity: 0;
    left: -100px;
  }
  40% {
    opacity: 1;
  }
  60% {
    left: -20px;
  }
}

@keyframes btnRight {
  0% {
    opacity: 0;
    left: 100px;
  }
  40% {
    opacity: 1;
  }
  60% {
    left: 20px;
  }
}

@keyframes slider {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
