.navbar {
  @include flex(row, space-between, center);
  //   width: 100vw;
  margin: auto;
  height: 12vh;
  border-bottom: 2px solid $color-orange;
  background: linear-gradient(to bottom, $color-shadowblue, $color-shadowblue2);
  // height: 120px;
  z-index: 0;
  .links-container {
    @include flex(row, space-between, center);
    gap: 5vw;
    padding: 0 20px;
    img {
      width: 10vw;
      filter: drop-shadow(1px 1px 1px $color-shadow);
      transition: 0.4s;
      height: 9vh;
      object-fit: cover;
    }
    img:hover {
      filter: drop-shadow(1px 1px 3px $color-shadow);
    }
    ul {
      @include flex(row, space-between, center);
      gap: 10px;
      list-style: none;
      li {
        @include flex(column, normal, center);
        .border_bottom {
          width: 100px;
          background-color: $color-white;
          height: 2px;
          width: 75%;
          animation: ease borderBottom 2s;
        }
        .link {
          text-decoration: none;
          font-weight: 700;
          color: $color-white;
          font-size: 1.2em;
          text-shadow: 1px 1px 2px $color-shadow2;
          letter-spacing: 1px;
          transition: 0.3s;
          background: none;
          border: none;
        }
        .link:hover {
          color: $color-orange2;
          text-shadow: 1px 1px 2px $color-shadow;
        }
        .link:active {
          position: relative;
          top: 1px;
        }
      }
    }
  }
  .btns-container {
    @include flex(row, space-between, center);
    gap: 3vw;
    height: 9vh;
    padding: 0 20px;
    .links_slide {
      @include flex(column, space-between, flex-start);
      position: absolute;
      left: 85vw;
      top: 12vh;
      background: $color-shadowblue2;
      width: 12vw;
      box-shadow: 0px 5px 5px 2px $color-shadow3;
      padding-top: 10px;
      .link {
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 1px;
        margin-left: 10px;
      }
      .link:hover {
        transform: scale(1.05);
      }
      i {
        align-self: center;
        color: $color-orange;
        cursor: pointer;
        font-size: 20px;
        width: 100%;
        text-align: center;
      }
      i:hover {
        background: linear-gradient(to top, $color-shadowblue, transparent);
      }
    }
    .themeBtn {
      background: none;
      outline: none;
      border: none;
      font-size: 1.5em;
      transition: 0.3s;
      text-shadow: 1px 1px 5px $color-shadow3;
    }
    .profileBtn {
      @include flex(row, center, center);
      border-radius: 100%;
      width: 40px;
      height: 40px;
      background: linear-gradient(to left, $color-orange, $color-fuxia);
      border: none;
      box-shadow: 1px 1px 5px 0px $color-shadow;
      font-size: 1.3em;
      color: $color-cream2;
      transition: all 3s;
      text-align: center;
    }
    .profileBtn:hover {
      background: linear-gradient(to top left, $color-orange, $color-fuxia);
      cursor: pointer;
    }
    .link {
      color: $color-white;
      font-size: 1.5em;
      transition: 0.3s;
      text-shadow: 1px 1px 5px $color-shadow3;
    }
    .link2 {
      text-decoration: none;
      font-weight: 700;
      color: $color-white;
      font-size: 1.3em;
      text-shadow: 1px 1px 2px $color-shadow2;
      letter-spacing: 1px;
      transition: 0.3s;
      background: none;
      border: none;
    }
    .link:hover {
      color: $color-orange;
      transform: scale(1.3);
    }
    .link2:hover {
      color: $color-orange;
      transform: scale(1.1);
    }
    .cart_icon {
      @include flex(column, center, center);
      .cart_count {
        align-self: flex-end;
        text-align: center;
        color: $color-white;
        background: linear-gradient(to right, $color-orange, $color-fuxia);
        width: 18px;
        height: 18px;
        border-radius: 50%;
        position: relative;
        top: 10px;
        left: 5px;
        z-index: 3;
        transition: 0.3s;
        cursor: pointer;
      }
      .cart_link {
        color: $color-white;
        font-size: 1.5em;
        transition: 0.3s;
        text-shadow: 1px 1px 5px $color-shadow3;
        z-index: 2;
      }
    }
    .cart_icon:hover {
      .cart_count {
        transform: scale(1.2);
      }
      .cart_link {
        color: $color-orange;
        transform: scale(1.3);
      }
    }
  }
}

@keyframes borderBottom {
  0% {
    width: 0;
  }
  60% {
    width: 75%;
  }
}
