.sign-up-container {
  background-color: purple;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.37), rgba(0, 0, 0, 0.308)), url("../../assets/bg-signup.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: Calibri;
  box-sizing: border-box;
  box-shadow: -15px 0 10px -10px black;
  border-radius: 20px;
  width: 500px;
  margin: 40px auto;
  padding: 30px;
}

.sign-up-container h1 {
  font-size: 22px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 1px 1px 5px grey;
}

.sign-up {
  width: 350px;
  margin-inline: auto;
  text-align: start;
}

.sign-up label {
  color: rgb(119, 118, 118);
  transition: 0.1s ease-out;
}

.sign-up .label-error {
  color: red;
  font-weight: bold;
}

.sign-up input {
  display: block;
  font: inherit;
  box-sizing: border-box;
  border: 1px solid gray;
  height: 35px;
  padding-inline: 10px;
  margin-top: 5px;
  margin-bottom: 2px;
  width: 100%;
  outline: 0;
  transition: 0.1s ease-out;
}

.sign-up input[id*="password"] {
  padding-left: 10px;
  padding-right: 35px;
}

.sign-up input:is(:hover, :focus) {
  border-color: orange;
}

.sign-up .input-error {
  border-width: 2px;
  border-color: red !important;
  color: red;
}

.sign-up input + div {
  font-size: 4px;
  color: transparent;
  transition: 0.5s ease-out;
}

.sign-up input + div.validate {
  font-size: 14px;
  margin-bottom: 10px;
  color: red;
}

.sign-up div + img {
  position: absolute;
  top: 29px;
  left: 318px;
  cursor: pointer;
}

.sign-up [type="submit"] {
  display: block;
  margin-top: 30px;
  padding: 15px;
  width: 100%;
  border: none;
  background-color: rgb(255, 136, 0);
  color: white;
  transition: 0.3s ease-out;
}

.sign-up [type="submit"]:hover {
  background-color: rgb(255, 163, 57);
  color: white;
}

.sign-up [type="submit"]:disabled {
  cursor: not-allowed;
  background-color: rgb(255, 195, 82);
}

.sign-up .click {
  background-color: rgb(255, 195, 82) !important;
}

.sign-up .terms {
  text-align: center;
  font-size: 12px;
  margin: 12px;
}
