@import "./variables.scss", "./components/nav.scss", "./components/home.scss",
  "./components/footer.scss", "./components/details.scss",
  "./components/mangaCard.scss", "./components/pagination.scss",
  "./components/LogIn.scss", "./components/SignUp.scss",
  "./components/filters.scss", "./components/mangas.scss";

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-cream;
  scroll-behavior: smooth;
  background-image: url("../assets/bg_bggenerator_com.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, $color-orange, $color-fuxia);
  border-radius: 10px;
}
