.container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  color: darkblue;
  border-radius: 15px;
  border: solid 7px #636597;
  padding: 10px 10px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
